<!DOCTYPE html>
<html>
	<head>
		<title> user login form </title>
	</head>
<body>

<h2>Text Input</h2>

<form action="/login" method="post">
	  Email:<br>
	  <input type="email" name="email">
	  <br>
	  password:<br>
	  <input type="password" name="password">
	  submit: <br>
	  <button type="submit">Submit</button>
</form>
</body>
</html>
