
<!DOCTYPE html>
<html lang="en-US">
<head>
	<title> websockets.io</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<style>
		.namev {
			height: 400px;
			width: 400px;
			border: 3px solid green;


		}
		
	</style>
</head>
<body>



<div class ="namev">
	<h1>this is something awesome</h1>
	<p class = "den">keke</p>
</div>

<script type="text/javascript">
	const arr = [1,2,3,4,5,6,7,8,,9,0]
	const cliick = document.getElementsByClassName('den');
	 var k = "this is the new Africa"
	 cliick.addEventListener('click',cl);
	 function cl() {
	 	for (var i = 0; i< arr.length; i++) {
	 		cliick.textContent = arr[i]
	 	}
	 }

	// const cliick = document.getElementById('dd');
	// function clickME() {
	// 	cliick.addEventListener('click',ala)
	// }

	// function  ala() {
	// 	alert('hello this iss the new kenya')
	// }
	
</script>

</body>
</html>

