
<%# contains the navbar %>

<nav class="navbar  sticky-top navbar-expand-lg navbar-light bg-success" style="width: auto%; height: 100px; margin: 10px " >
			  <a class="navbar-brand" href="#">Mama matunda selling place</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarText">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Vegetables</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Cereals</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Beverages</a>
			      </li>
			    </ul>
			    <span class="navbar-text">
			      Navbar text with an inline element
			    </span>
			  </div>
			</nav>